extends layout.jade
block content
    //- Una muestra con Jade
    h1 Bienvenidos a la plantilla de Express Js
    p   Para mas informacion entra en la ruta 
        a(href="./informacion") informacion
    a(href="/auth/facebook") Login with Facebook