extends layout.jade
block content
    //- Una muestra con Jade
    h1 Express y Jade
    if(user)
        h2 Bienvenido joven@ #{user.nombre}
        h2 Proveedor #{user.provider}
        img(src="#{user.foto}", alt="#{user.nombre}")
    else
        h3 Algo raro a pasado, meh
    h2  Comenzamos un proyecto con el framework Express y en template engine Jade
    ul
        li
            a(href="#{linkJade}" , target="_blank" ) #{templateEngine}
        li
            a(href="#{linkExpress}" , target="_blank" ) #{framework}
    a(href="/logout") Cerrar Sesion